
h4{
    margin-top: 100px;
    margin-left: 45%;
}

h3{

    margin-top: 50px;
    margin-left: 43%;
}


table{
    text-align: center;
    margin-left: 35%;
    margin-top: 20px;
    border: 1px solid black;
    font-size: 20px;
    width: 30%;
}

td{
    border: 1px solid black;
}

tfoot{
    background-color: burlywood;
}